﻿@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
        <link rel="stylesheet" type="text/css" href="/Content/Home.css"/>
    </head>
    <body>
        <h1>CS 2450 - Todo</h1>
        <p>This product is used to track items you need to complete.</p>
        
        <ul>
            <li>
                <input type="checkbox"/>
                <span>Todo 1</span>                
            </li>
            <li class="completed">
                <input type="checkbox"/>
                <span>Todo 2</span>
            </li>
        </ul>
    </body>
</html>